table {
  width: 100%;
}

.review-card .review-block > div {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 5px;
  padding-right: 5px;


}
.review-block:hover  {
    background-color: transparentize(#4680ff, 0.10);

  
  
}
