.btn.btn-icon-files {
    width: 22px;
    height: 22px;
    padding: 0;
    border-radius: 50%;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right : 1px;
    margin-left : 1px;
}

.deni-react-treeview-item-container .icon-and-text .text .text-inner{
    display: inline-block;
    vertical-align: middle 

}